<body class = "DesafioBCP">
    <div id = "wrapper">
        <header class = "navigation-wrapper navigation_wrapper--white">
            <h1>BCP</h1>
            <span class="icon-user-circle-o"></span>
            <span class="icon-bell"></span>
        </header>
    </div>

    
    <div class = "overlay" id = "overlay">
      <div class = "popup" id = "popup">
        <h3>¿Desea recibir notificaciones?</h3>
        <form (ngSubmit) = "recibirConfirmacion()">
          <button type = "submit" class = "btn-submit" >aceptar</button>
        </form>
      </div>
    </div>
    
</body>